<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/medlogo"
        android:label="PillSpenser"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNavigation"
        tools:targetApi="31">
        <activity
            android:name=".History_Summary"
            android:exported="false" />
        <activity
            android:name=".FaqsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".Notification_Summary"
            android:exported="false" />
        <activity
            android:name=".DisplayNotification"
            android:exported="false" />
        <activity
            android:name=".DisplayPillSchedule"
            android:exported="false" />
        <activity
            android:name=".ContainerScheduleList"
            android:exported="false" />
        <activity
            android:name=".Pill_Action_Success"
            android:exported="false" />
        <activity
            android:name=".Pill_Action"
            android:exported="false" />
        <activity
            android:name=".Container_Entry"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- Register the NotificationService -->
        <service
            android:name=".NotificationService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>